{% extends "main_menu.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{{ block.super }}
{% endblock %}
<body>
{% block header %}
{{ block.super }}
{% endblock %}
<h2>
{% block menu %}
{{ block.super }}
{% endblock %}
</h2>
{% block content %}
<div class="container mt-5" main-container>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <p>{{ welcome }}&nbsp;<a href="/weight_control/entrance/">войдите</a>&nbsp; или&nbsp; <a href="/weight_control/registration/">зарегистрируйтесь</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>